<router-outlet></router-outlet>

<style>
  .btn-auction{
    color:white;
    background-color:black;
    padding:10px;
    margin-top: 10px;
    font-weight: 600;
  }
  .users{
    display:flex;
  }
 
  .user-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    width: 33.3%;
    border: 1px solid;
    padding: 20px;
  }
  @media(max-width:768px){
    .users{
    flex-direction: column;
    align-items: center;
    }
    .user-area{
      width: 80%;
    }
  }
  .result-area{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    padding: 20px;
    border: 1px solid; 
    margin-left: auto;
    margin-right: auto;
  }
  #btn-result{
    margin-left: auto;
    margin-right: 7%;
    width: 200px;
  }
</style>

<section class="users">

<div class="user-area">
  <h3>user 1</h3>
  <input type="text"><br>
  <button class="btn-auction">Place Bid</button>
</div>

<div class="user-area">
  <h3>user 2</h3>
  <input type="text"><br>
  <button class="btn-auction">Place Bid</button>
</div>

<div class="user-area">
  <h3>user 3</h3>
  <input type="text"><br>
  <button class="btn-auction">Place Bid</button>
</div>

</section>

<section class="result-area">
  <p>Current Highest Bid : 000</p>
  <p>Current Highest Bidder : 000</p>
  <p>Deadline : 00.00</p>
  <p>Balance Time: 00.00</p>
  <button class="btn-auction" id="btn-result">Restore</button>
</section>